<%include header.ejs%>

<div class="container">
  <%if(user!=null){%>
  <div class="cartIcon media">
      <a href="/cart"><img src="/cart.png" class="rouded-circle"></a>
  </div>
  <%}%>
  <div id="divListOfProducts">
      <div class="d-flex flex-wrap justify-content-center" id="prodDiv">
        <% for(let i=0; i < data.length; i++) { %>
          <%if(data[i].isActive==true){%>
          <div class="card" id='<%= data[i]._id %>' style="width:250px;margin:10px;">
              <div class="card-body">
                  <h5 class="card-title Name"><%=data[i].name %></h5>
                  <p class="card-text Desc"><span class="font-weight-bold">Desc: </span><%=data[i].desc %></p>
                  <% if(data[i].quantity==0){%>
                    <p class="card-text text-danger Quan">Out of stock</p>
                  <%}else if(data[i].quantity<=10){%>
                    <p class="card-text text-danger Quan">Only <%=data[i].quantity %> left in stock</p>
                    <%}else{%>
                    <p class="card-text Quan" style="display: inline-block"></p>
                    <span class="font-weight-bold">
                      Available in stock:</span> <%=data[i].quantity %></p>
                  
                  <%}%>
                  <p class="card-text Price" style="display: inline-block"></p>
                    <span class="font-weight-bold">
                      Price:</span> <%=data[i].price %></p>
                  
              </div>
              <% if(data[i].quantity!=0){%>
                <div class="d-flex flex-row justify-content-around">
                  <div class="input-group mb-3 mx-3">
                      <input type="number" class="form-control cartCheck" placeholder="Quantity" min="0" max=<%= data[i].quantity %>>
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary bg-success text-white addToCart" type="button">Add</button>
                      </div>
                  </div>
              </div>
              <%}%>
          </div>
          <%}%>
          <% } %>
        </div>
    </div>
</div>

<%include footer.ejs%>