<%include header.ejs%>
<div class="container">
    <div id="divAddNewProduct">
      <a id="pAddNewProduct" href="/prod/addProduct" class="btn btn-info form-control mb-5 mt-4">
        Add a New Product
      </a>
    </div>
    <div id="divListOfProducts">
      <h3 id="pProductListHeading" class="mb-4 text-center">List of products:</h3>


      <div class="d-flex flex-wrap justify-content-center">
          <% data.forEach(info=>{ %>

          <div class="card" style="flex: 0 0 20%;min-width:250px; margin:10px 10px;
          border: 2px solid rgba(0,0,0,.125);" id="<%=info._id%>">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title Name"><%=info.name %></h5>
              <p class="card-text Desc"><span class="font-weight-bold">Desc: </span><%=info.desc %></p>
              <p class="card-text"><span class="font-weight-bold">Available in stock:</span> <%=info.quantity%></p>
              <h6 class="card-title"><span class="font-weight-bold">Price: </span>₹<%=info.price%></h6>
              <a href="prod/editProduct/<%=info._id%>"><button class="btn btn-success editBtn">Edit</button></a>
              <button class="btn btn-secondary btn-danger delBtn">Delete</button>
            </div>
          </div>
          <%});%>
        </div>
    </div>
  </div>
  <%include footer.ejs%>